---
import { splitCountryDistribution } from "../../scripts/species_map";
import SpeciesDistributionMap from "../maps/SpeciesDistributionMap";
import cntl from "cntl";

const { countries, extendClass } = Astro.props;

const countryList = splitCountryDistribution(countries ?? "");

const emptyDistribution =
  countryList.known.length === 0 && countryList.predicted.length === 0;

const hasPredictedDistribution = countryList.predicted.length > 0;

const mapContainerClasses = cntl`
  bg-spectra-100 
  dark:bg-spectra-900 
  rounded-xl 
  p-4 
  my-2
  ${extendClass}
`;

// const mapClasses = cntl`
//   justify-items-center
//   max-w-full
//   w-full
//   h-96
//   overflow-auto
//   ${emptyDistribution ? "hidden" : ""}
// `;

const titleClasses = cntl`
  text-lg 
  md:text-xl 
  font-semibold
`;

const captionTextClasses = cntl`
  text-spectra-800 
  dark:text-spectra-100 
  text-sm 
  mb-4
  ${emptyDistribution ? "hidden" : ""}
`;

const emptyTextClasses = cntl`
  text-sm 
  text-spectra-800 
  dark:text-spectra-200
  mt-4
`;
---

<div class={mapContainerClasses}>
  <h2 class={titleClasses}>Country distribution map</h2>
  <h3 class={captionTextClasses}>
    The map below provides a general overview. Most species inhabit only
    specific regions within countries. {
      hasPredictedDistribution && (
        <span>
          Known distribution is shown in green and predicted distribution is in
          yellow.
        </span>
      )
    }
    Hover over the highlighted regions to see the country name.
  </h3>
  {
    emptyDistribution ? (
      <p class={emptyTextClasses}>No distribution data available.</p>
    ) : (
      <SpeciesDistributionMap
        client:load
        knownDistribution={countryList.known}
        predictedDistribution={countryList.predicted}
      />
    )
  }
</div>
<!-- 
<script
  is:inline
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  // Declare google as a global variable
  declare const google: any;
  import { jsonToCountryList } from "../../scripts/species_map";

  class DistributionMap extends HTMLElement {
    lastWidth: number = 0;

    connectedCallback() {
      // Read the message from the data attribute.
      const countryDistribution = this.dataset.countries;
      const countries = jsonToCountryList(countryDistribution ?? "");

      google.charts.load("current", {
        packages: ["geochart"],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      async function drawRegionsMap() {
        var data = await google.visualization.arrayToDataTable([
          /**
           * Represents the distribution data for countries.
           * The first element is the country name.
           * The second element indicates predicted: 1 for yes, 0 for no.
           */
          ["Country", "Known distribution (1: yes, 0: no)?"],
          ...countries.known.map((country) => [country, 1]),
          ...countries.predicted.map((country) => [country, 0]),
        ]);

        var options = {
          displayMode: "Regions",
          colorAxis: { colors: ["#FFEB00", "#117554"] },
          legend: "none",
        };

        var chart = new google.visualization.GeoChart(
          document.getElementById("map")
        );

        await chart.draw(data, options);
      }
    }
  }

  customElements.define("distribution-map", DistributionMap);
</script> -->
