---
import cntl from "cntl";

interface Props {
  // Additional info to help reader understand the taxon rank
  label?: string;
  taxonName: string;
  url?: string; // optional, if provided, taxon name will be a link
  italic?: boolean; // optional, if true, taxon name will be italicized
}

const { label, taxonName, url, italic } = Astro.props as Props;

const containerClasses = cntl`
  my-1
  mr-2
  ${italic ? "italic" : ""}
`;

const labelClasses = cntl`
  text-xs
  text-spectra-600
  dark:text-spectra-400
`;

const textClasses = cntl`
  text-md
  tracking-wide
`;

const urlClasses = cntl`
  underline
  text-sm
  hover:text-spectra-700
  dark:hover:text-spectra-200
`;
---

<div class={containerClasses}>
  {label && <p class={labelClasses}>{label}</p>}
  {
    url ? (
      <>
        <a
          class={urlClasses}
          href={url}
          target="_blank"
          rel="noopener noreferrer"
        >
          {taxonName}
        </a>
      </>
    ) : (
      <p class={textClasses}>{taxonName}</p>
    )
  }
</div>
