---
import ProfileAvatar from "../components/ProfileAvatar.astro";
import Section from "../components/Section.astro";
import Title from "../components/Title.astro";
import CurationTeam from "../layouts/CurationTeam.astro";
import Layout from "../layouts/Layout.astro";
import MainPage from "../layouts/MainPage.astro";
import nate from "../assets/images/team_images/Nate.jpg";
import connor from "../assets/images/team_images/Connor.jpg";
import jane from "../assets/images/team_images/Jane.jpg";
import maddie from "../assets/images/team_images/Madeleine.jpg";
import heru from "../assets/images/team_images/Heru.jpg";
import jelle from "../assets/images/team_images/Jelle.jpg";
import david from "../assets/images/team_images/David.jpg";
import Link from "../components/Link.astro";
import Zenodo from "../components/pubs/Zenodo.astro";
import Journal from "../components/pubs/Journal.astro";
import SpeciesCitation from "../components/pubs/SpeciesCitation.astro";

const currentYear = new Date().getFullYear();
const currentDate = new Date().toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout title="About MDD">
  <MainPage
    ><div class="text-center item-center mt-8 md:mt-16">
      <Title>About the Mammal Diversity Database</Title>
      <Section title="Overview">
        <p>
          The Mammal Diversity Database (MDD) is a project of the American
          Society of Mammalogists (ASM) Biodiversity Committee. The MDD is an
          updatable online database of mammal taxonomic and biodiversity
          information hosted by ASM at{" "}
          <a href="http://mammaldiversity.org/">http://mammaldiversity.org/</a>.
          The MDD aims to provide the latest information on species-level and
          higher taxonomic changes, thereby promoting more rigorous study of
          mammalian biodiversity worldwide. The initial objective has been to
          aggregate, curate, and compile new citations on species descriptions
          and taxonomic revisions into regular releases that are downloadable in
          comma-delimited format. Downstream goals include expanded hosting of
          ecological, trait, and taxonomic data. Overall, this initiative aims
          to promote the ASM’s role as a leader in high-quality research on
          mammalian biology.
        </p>
      </Section>
      <Section title="Curation team">
        <CurationTeam>
          <ProfileAvatar
            imgSrc={nate.src}
            name="Nate Upham"
            role="Chair, Biodiversity Committee"
            institution="Arizona State University"
            personalWebsite="https://n8u.org/"
          />
          <ProfileAvatar
            imgSrc={connor.src}
            name="Connor Burgin"
            role="Student Taxonomic Curator"
            institution="University of New Mexico"
          />
          <ProfileAvatar
            imgSrc={jane.src}
            name="Jane Widness"
            role="Student Research Assistant"
            institution="Yale University"
          />
          <ProfileAvatar
            imgSrc={maddie.src}
            name="Madeleine Becker"
            role="Student Research Assistant"
            institution="George Mason University"
          />
          <ProfileAvatar
            imgSrc={heru.src}
            name="Heru Handika"
            role="Student Web Developer"
            institution="Louisiana State University"
            personalWebsite="https://hhandika.com/"
          />
          <ProfileAvatar
            imgSrc={jelle.src}
            name="Jelle Zijlstra"
            role="Volunteer Research Assistant"
            institution="Hesperomys Project"
            personalWebsite="https://github.com/JelleZijlstra"
            institutionWebsite="http://hesperomys.com/"
          />
          <ProfileAvatar
            imgSrc={david.src}
            name="David Huckaby"
            role="Chair, Mammal Images Library Committee"
            institution="California State University, Long Beach"
          />
        </CurationTeam>
        <h3 class="font-semibold">
          Oversight by the ASM Biodiversity Committee
        </h3>
        <p>
          E. Abreu, J. Alston, T. Androski, M. Becker, C. Burgin, C.
          Calderón-Acevedo, J. Colella, E. Craig, G. D'Elia, T. Demos, J.
          Esselstyn, P.-H. Fabre, A. Feijó, A. Ferguson, J. Frey, K. Gorman, M.
          Hawkins, V. Hayssen, S. Hess, A. Hinckley, D. Huckaby, B. Kohli, T.
          Lee, S. Liphardt, S. Maher, V. Mathis, M. McDonough, S. Mech, P.
          Moehlman, A. Mychajliw, J. Nations, R. Norris, G. Oliver, C. Parker,
          B. Patterson, N. Pradhan, D. Reeder, M. E. Rodríguez-Posada, L.
          Ruedas, B. Tanis, H. Taylor, N. Upham (chair), J. Widness, J. Zijlstra
        </p>
      </Section>
      <Section title="Citing MDD">
        <p>
          The current database (via <Link
            url="https://doi.org/10.5281/zenodo.4139722"
            label="Zenodo"
          />):
        </p>
        <Zenodo
          authors={["Mammal Diversity Database"]}
          year={currentYear}
          title="Mammal Diversity Database (Version 1.13) [Data set]"
          doi="https://doi.org/10.5281/zenodo.10595931"
        />
        <p>
          A specific entry: Each entry has a citation string at the end. For
          example:
        </p>
        <SpeciesCitation
          species="Dipodomys deserti"
          mddID="1001892"
          date={currentDate}
          year={currentYear}
        />
        <p>Describing the MDD v1.0 taxonomy:</p>
        <Journal
          authors={[
            "Burgin, C. J.",
            "Colella, J. P.",
            "Kahn, P. L.",
            "Upham, N. S",
          ]}
          year={2018}
          title="How many species of mammals are there?"
          journal="Journal of Mammalogy"
          volume="99"
          pages="1—11"
          doi="https://doi.org/10.1093/jmammal/gyx147"
        />
      </Section>
      <Section title="Taxonomic overview">
        <p>
          The Mammal Diversity Database (MDD), originally released in 2018, aims
          to provide a continuously updated listing of the world’s mammal
          species and higher taxa (all ranks above the species level). The
          primary goal of the MDD is to centralize information regarding the
          most recent and reliable systematic publications for each clade,
          offering up the taxonomic consequences of those works with a limited
          amount of subjective curation on behalf of the MDD Team. Foremost, the
          MDD aims to adhere to open science principles by providing streamlined
          access to the compiled data from our taxonomic curation efforts.
        </p>
        <br />
        <p>
          The MDD includes webpages for each species of currently recognized
          mammals, including taxonomic comments regarding changes since the
          Mammals Species of the World, 3rd Edition (MSW3; (Wilson and Reeder
          2005)), and fields for type locality, higher-level taxonomy, common
          names, and updated country-level distributions. More fields of
          information are available in the download of the MDD (ZIP archive with
          CSV database & metadata). Some species currently also include the
          original name combination as spelled in the original taxonomic
          description of that species, original description citations, links to
          those publications, holotype voucher specimens, and nominal synonyms
          in a format similar to MSW3. This information is still a work in
          progress and is primarily under manual curation, so errors of omission
          or orthography may still be present. The MDD Team is also working on
          systematically curating synonyms from large publications such as the
          Mammals of South America and the Taxonomy of Australian Mammals, for
          which future updates will include compiled information. Subspecies
          have not yet been addressed here due to their inconsistent historical
          usages in mammalogy, although future efforts are likely to compile
          subspecies information for the purposes of species-level synonymy. The
          MDD is being regularly updated, so users are encouraged to contact the
          MDD team to report errors, new taxonomic arrangements, or queries
          regarding the taxonomy and interface via email: mammaldiversity [at]
          gmail [dot] com.
        </p>
      </Section>
    </div>
  </MainPage>
</Layout>
