---
import MainPage from "../layouts/MainPage.astro";
import shrewImg from "../assets/images/mammal_images/1004046.jpg";
import goldenMouse from "../assets/images/mammal_images/1002250.jpg";
import selenodon from "../assets/images/mammal_images/1003840.jpg";
import duiker from "../assets/images/mammal_images/1006226.jpg";
import cntl from "cntl";
import MainActionButtons from "../components/MainActionButtons.astro";
import Zenodo from "../components/pubs/Zenodo.astro";
import SpeciesCitation from "../components/pubs/SpeciesCitation.astro";
import Journal from "../components/pubs/Journal.astro";
import Link from "../components/Link.astro";
import Image from "astro/components/Image.astro";
import FrontPage from "../layouts/FrontPage.astro";

const currentVersion = "v1.13";
const releaseDate = "13 Jul 2024";
const prevVersionsLink = "https://doi.org/10.5281/zenodo.4139722";
const mddDownloadLink = "https://www.mammaldiversity.org/assets/data/MDD.zip";

// Define version description
const versionDescription = `Current version:${currentVersion}, released ${releaseDate}`;

const allImages = [
  {
    src: shrewImg,
    alt: "A palawan moss shrew. Courtesy of the ASM’s MIL",
  },
  {
    src: goldenMouse,
    alt: "A golden mouse. Courtesy of the ASM’s MIL",
  },
  {
    src: selenodon,
    alt: "A hispaniolan selenodon. Courtesy of the ASM’s MIL",
  },
  {
    src: duiker,
    alt: "An Abbott's duiker. Courtesy of the ASM’s MIL",
  },
];
const mammalImg = allImages[Math.floor(Math.random() * allImages.length)];

const currentYear = new Date().getFullYear();
const currentDate = new Date().toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const titleClasses = cntl`
  font-serif
  font-semibold
  text-5xl
  text-spectra-700
  dark:text-spectra-200
  mt-4
  lg:mt-2
`;

const descriptionClasses = cntl`
  text-xl
  text-spectra-950
  dark:text-spectra-50
  mt-2
`;

const heroClasses = cntl`
  text-left
  grid
  grid-cols-1
  lg:grid-cols-2
  mt-14
  px-8
  py-8
  bg-spectra-100
  bg-gradient-to-r
  from-spectra-100
  to-spicy-mix-100
  dark:from-spectra-900
  dark:to-spicy-mix-900
  rounded-xl
  mx-8
`;
---

<FrontPage title="ASM Mammal Diversity Database">
  <MainPage>
    <div class={heroClasses}>
      <div>
        <h1 class={titleClasses}>The Mammal Diversity Database</h1>
        <h2 class="text-md mb-4">By the American Society of Mammalogists</h2>
        <p class={descriptionClasses}>
          Track the latest taxonomic changes to living and recently extinct
          (i.e., since ~1500 CE) species and higher taxa of mammals.
        </p>

        <MainActionButtons
          searchURI="./search"
          downloadURI={mddDownloadLink}
          previousVersionsURI={prevVersionsLink}
          versionDescription={versionDescription}
        />
      </div>
      <div class="justify-items-center order-first lg:order-last">
        <Image
          class="-z-10 object-center rounded-3xl"
          height="360"
          src={mammalImg.src}
          alt={mammalImg.alt}
        />
      </div>
    </div>
    <div id="goal-content" class="py-4 px-2 text-center mt-8">
      <h2 class="font-serif text-2xl lg:text-4xl font-semibold mb-4">
        Our Goals
      </h2>
      <p class="text-lg max-w-4xl mx-auto">
        We are curating the taxonomic implications of new research publications
        in real time — with the goal of promoting rigorous study of mammal
        biodiversity worldwide. The initial objective has been to aggregate,
        curate, and compile, new citations on species descriptions and taxonomic
        revisions into regular releases that are downloadable in comma-delimited
        format. Downstream goals include expanded hosting of ecological, trait,
        and taxonomic data.
      </p>

      <div class="overflow-x-auto py-4 px-2 text-center mt-4 max-w-6xl mx-auto">
        <h2 class="font-serif text-2xl lg:text-4xl font-semibold mb-4">
          Mammal Diversity Statistics
        </h2>
        <table class="min-w-full">
          <thead class="bg-spectra-100 dark:bg-spectra-900">
            <tr>
              <th class="py-2 px-4 border-b rounded-tl-xl">Taxa</th>
              <th class="py-2 px-4 border-b">MSW3 2005</th>
              <th class="py-2 px-4 border-b">MDD 2018</th>
              <th class="py-2 px-4 border-b rounded-tr-xl">Current</th>
            </tr>
          </thead>
          <tbody>
            <td class="text-left px-4">Species</td>
            <tr>
              <td class="text-left py-2 px-8 border-b">Total</td>
              <td class="py-2 px-4 border-b">5,416</td>
              <td class="py-2 px-4 border-b">6,495</td>
              <td class="py-2 px-4 border-b">6,753</td>
            </tr>
            <tr>
              <td class="text-left py-2 px-8 border-b">Recently Extinct</td>
              <td class="py-2 px-4 border-b">75</td>
              <td class="py-2 px-4 border-b">96</td>
              <td class="py-2 px-4 border-b">113</td>
            </tr>
            <tr>
              <td class="text-left py-2 px-8 border-b">Living</td>
              <td class="py-2 px-4 border-b">5,341</td>
              <td class="py-2 px-4 border-b">6,399</td>
              <td class="py-2 px-4 border-b">6,640</td>
            </tr>
            <tr>
              <td class="text-left py-2 px-8 border-b">Domestic</td>
              <td class="py-2 px-4 border-b">0</td>
              <td class="py-2 px-4 border-b">16</td>
              <td class="py-2 px-4 border-b">17</td>
            </tr>
            <tr>
              <td class="text-left py-2 px-8 border-b">Living Wild</td>
              <td class="py-2 px-4 border-b">5,338</td>
              <td class="py-2 px-4 border-b">6,382</td>
              <td class="py-2 px-4 border-b">6,623</td>
            </tr>
            <tr>
              <td class="text-left py-2 px-4 border-b">Genera</td>
              <td class="py-2 px-4 border-b">1,230</td>
              <td class="py-2 px-4 border-b">1,314</td>
              <td class="py-2 px-4 border-b">1,353</td>
            </tr>
            <tr>
              <td class="text-left py-2 px-4 border-b">Families</td>
              <td class="py-2 px-4 border-b">153</td>
              <td class="py-2 px-4 border-b">167</td>
              <td class="py-2 px-4 border-b">167</td>
            </tr>
            <tr>
              <td class="text-left py-2 px-4 border-b">Orders</td>
              <td class="py-2 px-4 border-b">29</td>
              <td class="py-2 px-4 border-b">27</td>
              <td class="py-2 px-4 border-b">27</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="py-4 px-2 text-center mt-2 mb-4 max-w-6xl mx-auto">
        <h2 class="font-serif text-2xl lg:text-4xl font-semibold mt-4">
          Cite MDD
        </h2>
        <div class="text-md">
          <p>
            The current database (via <Link
              url="https://doi.org/10.5281/zenodo.4139722"
              label="Zenodo"
            />):
          </p>
          <Zenodo
            authors={["Mammal Diversity Database"]}
            year={currentYear}
            title="Mammal Diversity Database (Version 1.13) [Data set]"
            doi="https://doi.org/10.5281/zenodo.10595931"
          />
          <p>
            A specific entry: Each entry has a citation string at the end. For
            example:
          </p>
          <SpeciesCitation
            species="Dipodomys deserti"
            mddID="1001892"
            date={currentDate}
            year={currentYear}
          />
          <p>Describing the MDD v1.0 taxonomy:</p>
          <Journal
            authors={[
              "Burgin, C. J.",
              "Colella, J. P.",
              "Kahn, P. L.",
              "Upham, N. S",
            ]}
            year={2018}
            title="How many species of mammals are there?"
            journal="Journal of Mammalogy"
            volume="99"
            pages="1—11"
            doi="https://doi.org/10.1093/jmammal/gyx147"
          />
        </div>
      </div>
    </div>
  </MainPage>
</FrontPage>
