---
import MainPage from "../layouts/MainPage.astro";
import shrewImg from "../assets/images/mammal_images/1004046.jpg";
import goldenMouse from "../assets/images/mammal_images/1002250.jpg";
import selenodon from "../assets/images/mammal_images/1003840.jpg";
import duiker from "../assets/images/mammal_images/1006226.jpg";
import reigMouse from "../assets/images/mammal_images/1002756.jpg";
import cntl from "cntl";
import MainActionButtons from "../components/MainActionButtons.astro";
import Zenodo from "../components/pubs/Zenodo.astro";
import SpeciesCitation from "../components/pubs/SpeciesCitation.astro";
import Journal from "../components/pubs/Journal.astro";
import Link from "../components/Link.astro";
import Image from "astro/components/Image.astro";
import FrontPage from "../layouts/FrontPage.astro";

const currentVersion = "v1.13";
const releaseDate = "13 Jul 2024";
const prevVersionsLink = "https://doi.org/10.5281/zenodo.4139722";
const mddDownloadLink = "https://www.mammaldiversity.org/assets/data/MDD.zip";

// Define version description
const versionDescription = `Current version:${currentVersion}, released ${releaseDate}`;

const allImages = [shrewImg, goldenMouse, selenodon, duiker, reigMouse];
const mammalImg = allImages[Math.floor(Math.random() * allImages.length)];

const currentYear = new Date().getFullYear();
const currentDate = new Date().toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const titleClasses = cntl`
  font-serif
  font-semibold
  text-5xl
  text-spectra-700
  dark:text-spectra-200
  mt-8
`;

const descriptionClasses = cntl`
  text-xl
  text-spectra-950
  dark:text-spectra-50
  mt-2
`;
---

<FrontPage title="ASM Mammal Diversity Database">
  <MainPage
    ><div class="text-left grid grid-cols-1 lg:grid-cols-2 item-center mt-8">
      <div>
        <h1 class={titleClasses}>The Mammal Diversity Database</h1>
        <h1 class="text-md mb-4">of the American Society of Mammalogists</h1>
        <p class={descriptionClasses}>
          Track the latest taxonomic changes to living and recently extinct
          (i.e., since ~1500 CE) species and higher taxa of mammals.
        </p>

        <MainActionButtons
          searchURI="./search"
          downloadURI={mddDownloadLink}
          previousVersionsURI={prevVersionsLink}
          versionDescription={versionDescription}
        />
      </div>
      <div
        class="flex justify-center items-center mt-8 order-first lg:order-last"
      >
        <Image
          class="-z-10 object-center rounded-3xl"
          height="360"
          src={mammalImg}
          alt="A rat photo from the ASM’s mammal image library"
        />
      </div>
    </div>
    <div class="bg-spectra-800 rounded-t-3xl">
      <div id="goal-content" class="py-4 px-2 text-center mt-16">
        <h2 class="font-serif text-2xl lg:text-4xl font-semibold mb-4 mt-4">
          Our Goals
        </h2>
        <p class="text-lg max-w-3xl mx-auto">
          We are curating the taxonomic implications of new research
          publications in real time — with the goal of promoting rigorous study
          of mammal biodiversity worldwide.
        </p>
      </div>
      <div class="py-4 px-2 text-center mt-4 mb-4 max-w-4xl mx-auto">
        <h2 class="font-serif text-2xl lg:text-4xl font-semibold mb-4 mt-4">
          Cite MDD
        </h2>
        <div class="text-md">
          <p>
            The current database (via <Link
              url="https://doi.org/10.5281/zenodo.4139722"
              label="Zenodo"
            />):
          </p>
          <Zenodo
            authors={["Mammal Diversity Database"]}
            year={currentYear}
            title="Mammal Diversity Database (Version 1.13) [Data set]"
            doi="https://doi.org/10.5281/zenodo.10595931"
          />
          <p>
            A specific entry: Each entry has a citation string at the end. For
            example:
          </p>
          <SpeciesCitation
            species="Dipodomys deserti"
            mddID="1001892"
            date={currentDate}
            year={currentYear}
          />
          <p>Describing the MDD v1.0 taxonomy:</p>
          <Journal
            authors={[
              "Burgin, C. J.",
              "Colella, J. P.",
              "Kahn, P. L.",
              "Upham, N. S",
            ]}
            year={2018}
            title="How many species of mammals are there?"
            journal="Journal of Mammalogy"
            volume="99"
            pages="1—11"
            doi="https://doi.org/10.1093/jmammal/gyx147"
          />
        </div>
      </div>
    </div>
  </MainPage>
</FrontPage>
