---
import Layout from "../layouts/Layout.astro";
import MainPage from "../layouts/MainPage.astro";
import mammalImg from "../assets/images/mammal_images/1004046.jpg";
import cntl from "cntl";
import SearchBar from "../components/SearchBar.astro";

const currentVersion = "v1.13";
const releaseDate = "13 Jul 2024";
const prevVersionsLink = "https://doi.org/10.5281/zenodo.4139722";

// Define version description
const versionDescription = `Current version:${currentVersion}, released ${releaseDate}`;

const titleClasses = cntl`
  text-4xl
  text-spectra-700
  dark:text-spectra-200
  mt-16
`;

const descriptionClasses = cntl`
  text-xl
  text-spectra-950
  dark:text-spectra-50
  mt-2
`;
---

<Layout title="ASM Mammal Diversity Database">
  <MainPage
    ><div class="text-center item-center mt-8">
      <h1 class={titleClasses}>The ASM's Mammal Diversity Database</h1>
      <p class={descriptionClasses}>
        The Mammal Diversity Database of the <a
          href="http://www.mammalsociety.org/"
          >American Society of Mammalogists</a
        > (ASM) is your home base for tracking the latest taxonomic changes to living
        and recently extinct (i.e., since ~1500 CE) species and higher taxa of mammals.
      </p>

      <SearchBar
        versionDescription={versionDescription}
        prevVersionsLink={prevVersionsLink}
      />
    </div>
    <div
      class="mt-16 bg-spectra-600 text-center items-center rounded-3xl max-w-3xl mx-auto"
    >
      <img
        class="-z-10 h-60 object-cover object-center rounded-3xl w-full"
        src={mammalImg.src}
        alt="A rat photo from the ASM’s mammal image library"
      />
      <div id="goal-content" class="py-4 px-2">
        <h2
          class="font-serif text-4xl font-semibold text-spicy-mix-400 mb-4 mt-4"
        >
          Our Goals
        </h2>
        <p class="text-2xl">
          We are curating the taxonomic implications of new research
          publications in real time — with the goal of promoting rigorous study
          of mammal biodiversity worldwide.
        </p>
      </div>
    </div>
  </MainPage>
</Layout>
