---
import MainPage from "../layouts/MainPage.astro";
import shrewImg from "../assets/images/mammal_images/1004046.jpg";
import goldenMouse from "../assets/images/mammal_images/1002250.jpg";
import solenodon from "../assets/images/mammal_images/1003840.jpg";
import duiker from "../assets/images/mammal_images/1006226.jpg";
import cntl from "cntl";
import MainActionButtons from "../components/MainActionButtons.astro";
import Zenodo from "../components/pubs/Zenodo.astro";
import SpeciesCitation from "../components/pubs/SpeciesCitation.astro";
import Journal from "../components/pubs/Journal.astro";
import Link from "../components/Link.astro";
import Image from "astro/components/Image.astro";
import FrontPage from "../layouts/FrontPage.astro";
import DiversityStatTable from "../components/DiversityStatTable.astro";
import desktopApp from "../assets/images/screenshots/desktopApp.png";
import InstallButton from "../components/buttons/InstallButton.astro";
import { getMetadata } from "../../db/mdd";

const meta = getMetadata();
const currentVersion = meta.version.startsWith("v")
  ? meta.version.slice(1)
  : meta.version;

const verbatimReleaseDate = new Date("2025-06-13"); // Fallback date if releaseDate is not available
const releaseDate = verbatimReleaseDate.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const prevVersionsLink = "https://doi.org/10.5281/zenodo.4139722";
const mddDownloadLink =
  "https://github.com/mammaldiversity/mammaldiversity.github.io/raw/refs/heads/master/assets/data/MDD.zip";

// Define version description
const versionDescription = `Current version: v${currentVersion}, released ${releaseDate}`;

const allImages = [
  {
    src: shrewImg,
    alt: "A palawan moss shrew. Courtesy of the ASM’s MIL",
  },
  {
    src: goldenMouse,
    alt: "A golden mouse. Courtesy of the ASM’s MIL",
  },
  {
    src: solenodon,
    alt: "A hispaniolan solenodon. Courtesy of the ASM’s MIL",
  },
  {
    src: duiker,
    alt: "An Abbott's duiker. Courtesy of the ASM’s MIL",
  },
];

// const mammalImg = allImages[Math.floor(Math.random() * allImages.length)];

const currentYear = new Date().getFullYear();
const currentDate = new Date().toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const titleClasses = cntl`
  font-serif
  font-semibold
  text-4xl
  lg:text-5xl
  text-spectra-700
  dark:text-spectra-200
  mt-4
  lg:mt-2
  lg:mr-2
`;

const descriptionClasses = cntl`
  text-xl
  text-spectra-950
  dark:text-spectra-50
  mt-2
`;

const heroClasses = cntl`
  text-left
  grid
  grid-cols-1
  lg:grid-cols-2
  mt-8
  lg:mt-14
  px-4
  lg:px-8
  py-4
  lg:py-8
  bg-spectra-100
  bg-gradient-to-r
  from-spectra-100
  to-spicy-mix-100
  dark:from-spectra-900
  dark:to-spicy-mix-900
  lg:max-w-7xl
  rounded-xl
  lg:mx-2
  xl:mx-auto
  mx-4
`;

const sectionTitleClass = cntl`
  font-serif
  text-3xl
  lg:text-4xl
  font-semibold
  mt-4
  mb-4
`;

const secondaryTitleClass = cntl`
  font-serif
  text-2xl
  lg:text-3xl
  font-semibold
  mt-4
  mb-4
`;

const highlightedContainerClasses = cntl`
  py-4
  px-2
  text-center
  my-4
  max-w-4xl
  mx-auto
  bg-gradient-to-r
  dark:from-spectra-900
  dark:to-transparent
  from-spectra-100
  to-transparent
  rounded-xl
`;
---

<FrontPage data-pagefind-ignore title="ASM Mammal Diversity Database">
  <MainPage>
    <div id="hero" class={heroClasses}>
      <div>
        <h1 class={titleClasses}>The Mammal Diversity Database</h1>
        <h2 class="text-md mb-4">By the American Society of Mammalogists</h2>
        <p class={descriptionClasses}>
          Track the latest taxonomic changes to living and recently extinct
          (i.e., since ~1500 CE) species and higher taxa of mammals.
        </p>
        <MainActionButtons
          searchURI="./search"
          downloadURI={mddDownloadLink}
          previousVersionsURI={prevVersionsLink}
          versionDescription={versionDescription}
        />
      </div>
      <div class="justify-items-center order-first lg:order-last">
        {
          allImages.map((image) => (
            <Image
              id="dynamic-image"
              class="rounded-xl shadow-lg"
              src={image.src}
              alt={image.alt}
              width="600"
              height="600"
            />
          ))
        }
      </div>
    </div>
    <div id="content" class="mx-4">
      <div
        id="what-new"
        class="py-4 px-8 text-center mt-4 md:mt-8 max-w-4xl mx-auto rounded-xl bg-spicy-mix-100 dark:bg-spicy-mix-900 p-4"
      >
        <h2 class={secondaryTitleClass}>What's New in the MDD2</h2>
        <ul class="text-left text-md ml-4 list-disc list-outside mb-4">
          <li>
            Codings of US state, country, continent, and biogeographic realm
            geographic categories for each species
          </li>
          <li>
            A comprehensive nomenclatural dataset for 50,000+ synonymous
            species-rank names, curated with type locality and specimen
            information.
          </li>
          <li>
            Integration between the MDD and the databases Hesperomys and
            Batnames for greater data accuracy and completeness
          </li>
          <li>
            A rewritten and redesigned of the MDD website (work in progress). It
            comes with a new search feature, better scalability, enhanced data
            visualization, and other features. The original version is available
            at <Link
              url="http://classic.mammaldiversity.org"
              label="classic.mammaldiversity.org"
            />.
          </li>
          <li>
            A new cross-platform app (currently in beta) offering offline access
            to MDD, advanced search capabilities, custom exports, and more.
          </li>
        </ul>
      </div>
      <div id="
              goal-content" class="py-4 px-2 text-center">
        <h2 class={sectionTitleClass}>Our Goals</h2>
        <p class="text-lg max-w-5xl mx-auto">
          We are curating the taxonomic implications of new research
          publications in real time — with the goal of promoting rigorous study
          of mammal biodiversity worldwide. The initial objective has been to
          aggregate, curate, and compile, new citations on species descriptions
          and taxonomic revisions into regular releases that are downloadable in
          comma-delimited format. Downstream goals include expanded hosting of
          ecological, trait, and taxonomic data.
        </p>
      </div>
      <div class="py-4 px-2 text-center mb-4 mx-auto">
        <h2 class={sectionTitleClass}>Mammal Diversity Statistics</h2>
        <DiversityStatTable />
      </div>
      <div class={highlightedContainerClasses}>
        <h2 class={sectionTitleClass}>
          Try the MDD App <span class="text-sm inline-block align-top"
            >beta</span
          >
        </h2>
        <div
          class="grid lg:flex grid-cols-1 md:grid-cols-2 justify-center py-2 px-4"
        >
          <Image class="mx-auto" height="320" src={desktopApp} alt="MDD App" />
          <div class="text-left mt-4">
            <p class="text-lg font-semibold">App features:</p>
            <ul class="text-left ml-4 list-disc list-inside">
              <li>Offline access to the database</li>
              <li>Advanced search</li>
              <li>Custom exports</li>
              <li>And more</li>
            </ul>
            <p class="text-md mt-2">Support all major desktop and mobile OS.</p>
            <InstallButton
              label="Install"
              url="https://github.com/mammaldiversity/mdd_app?tab=readme-ov-file#try-it-out-"
              extendClass="mt-12"
              withIcon
            />
          </div>
        </div>
      </div>
      <div id="citation" class="py-4 px-2 text-center mb-4 max-w-6xl mx-auto">
        <h2 class={sectionTitleClass}>Cite MDD</h2>
        <div class="text-md mt-4">
          <p>
            The current database (via <Link
              url="https://doi.org/10.5281/zenodo.4139722"
              label="Zenodo"
            />):
          </p>
          <Zenodo
            authors={["Mammal Diversity Database"]}
            year={currentYear}
            title=`Mammal Diversity Database (Version ${currentVersion}) [Data set]`
            doi="https://doi.org/10.5281/zenodo.15007505"
          />
          <p>
            A specific entry: Each entry has a citation string at the end. For
            example:
          </p>
          <SpeciesCitation
            species="Dipodomys deserti"
            mddID="1001892"
            date={currentDate}
            year={currentYear}
          />
          <p>Describing the MDD v2.0 taxonomy:</p>
          <Journal
            authors={[
              "Burgin, C. J.",
              "Zijlstra, J. S.",
              "Becker, M. A.",
              "Handika, H.",
              "Alston, J. M.",
              "Widness, J.",
              "Liphardt, S.",
              "Huckaby, D. G.",
              "Upham, N. S",
            ]}
            year={2025}
            title="How many mammal species are there now? Updates and trends in taxonomic, nomenclatural, and geographic knowledge"
            journal="Journal of Mammalogy"
            volume="in revision"
            pages="TBD"
            doi="https://doi.org/10.1101/2025.02.27.640393"
          />
          <p>Describing the MDD v1.0 taxonomy:</p>
          <Journal
            authors={[
              "Burgin, C. J.",
              "Colella, J. P.",
              "Kahn, P. L.",
              "Upham, N. S",
            ]}
            year={2018}
            title="How many species of mammals are there?"
            journal="Journal of Mammalogy"
            volume="99"
            pages="1—11"
            doi="https://doi.org/10.1093/jmammal/gyx147"
          />
        </div>
      </div>
    </div>
  </MainPage>
</FrontPage>

<script>
  let images = document.querySelectorAll("#dynamic-image");
  let currentImageIndex = 0;
  images.forEach((image, index) => {
    if (index !== 0) {
      image.classList.add("hidden");
    }
  });

  const changeImage = () => {
    images[currentImageIndex].classList.add("hidden");
    currentImageIndex = (currentImageIndex + 1) % images.length;
    images[currentImageIndex].classList.remove("hidden");
  };
  setInterval(changeImage, 10000); // Change image every 10 seconds
</script>
