---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import MainPage from "../layouts/MainPage.astro";

import { db, Taxonomy } from "astro:db";

const taxa = await db.select().from(Taxonomy);

interface Taxon {
  id: number;
  family: string;
  genus: string;
  specificEpithet: string;
  authorityYear: string;
  commonName: string;
}

// We create a map with order as key and an array of taxa as value
const taxonByOrder: Record<string, Taxon[]> = {};

function getAuthority(author: string, year: number, isParentheses: boolean) {
  return isParentheses ? `(${author}, ${year})` : `${author}, ${year}`;
}

taxa.forEach((taxon) => {
  const taxonOrder = taxon.taxonOrder ?? "Unknown";

  if (!taxonByOrder[taxonOrder]) {
    taxonByOrder[taxonOrder] = [];
  }
  const authority = getAuthority(
    taxon.authoritySpeciesAuthor ?? "Unknown",
    taxon.authoritySpeciesYear ?? 0,
    taxon.authorityParentheses === 1
  );
  taxonByOrder[taxonOrder].push({
    id: taxon.id,
    family: taxon.family ?? "Unknown",
    genus: taxon.genus ?? "Unknown",
    specificEpithet: taxon.specificEpithet ?? "unknown",
    authorityYear: authority,
    commonName: taxon.mainCommonName ?? "Unknown",
  });
});
---

<Layout title="Search Database">
  <MainPage>
    <div class="text-center item-center mt-8 md:mt-16">
      <Title>Search Database</Title>
    </div>
    <div class="mb-4">
      <input
        type="text"
        id="search-input"
        placeholder="E.g., Taeromys dominator, platypus"
        class="input input-bordered w-full max-w-sm"
      />
      <button id="search-button" class="btn btn-primary">Filter</button>
    </div>
    <div class="flex-grow border-t border-gray-400 mb-4"></div>
    <div
      id="taxon-list"
      tabindex="0"
      class="collapse collapse-arrow border-base-300 bg-base-200 border"
    ><input type="checkbox" />{
      Object.entries(taxonByOrder).map(([order, taxa]) => (
      <div class="collapse-title text-xl font-medium">
          {order}</div>
          <div class="collapse-content">
            <p class="text-sm mb-2">Taxon counts: {taxa.length} species</p>
            {taxa.map((taxon) => (
              <a href={`/mammaldiversity-org/taxon/${taxon.id}`}>
              <div id="taxa" class="mb-2 bg-spectra-200 dark:bg-spectra-800 p-2 rounded-lg">
              <p class="text-lg">
                <span class="italic">{taxon.genus} {taxon.specificEpithet}</span> {taxon.authorityYear}
              </p>
              <p class="text-sm">
                MDD ID {taxon.id} &middot; {taxon.family} &middot; {taxon.commonName}
              </p>
            </div>
            </a>
            ))}
        </div>
      ))
    }</div>
    
    <button id="reset-button" class="btn btn-secondary mt-4" style="display: none;">
      Reset
    </button>
  </MainPage>
</Layout>

<script type="text/javascript">
  document.querySelectorAll("#search-button").forEach((button) => {
    button.addEventListener("click", () => {
      const query = document.getElementById("search-input").value;
      const taxonList = document.getElementById("taxon-list");

      // Filter id elements li id="taxa" based on query
      taxonList.querySelectorAll("#taxa").forEach((taxon) => {
        if (taxon.textContent.toLowerCase().includes(query.toLowerCase())) {
          taxon.style.display = "block";
        } else {
          taxon.style.display = "none";
        }
      });

      const resetBtn = document.getElementById("reset-button");
      resetBtn.style.display = "block";
      resetBtn.addEventListener("click", () => {
        taxonList.querySelectorAll("#taxa").forEach((taxon) => {
          taxon.style.display = "block";
        });
        document.getElementById("search-input").value = "";
        resetBtn.style.display = "none";
      });
    });
  });
</script>
