---
// Page for displaying country-specific mammal diversity statistics
// When available, the URL parameter use alpha-2 country code (e.g., "US" for United States).
// Otherwise, it uses a three letter region code created from the region name (e.g., "AND" for Andaman Islands).
import {
  getCountryData,
  getDataByCountryCode,
  parseCountrySpeciesList,
} from "../../../db/country_stats";
import type { CountryData } from "../../../db/country_stats_model";
import OneLineNotes from "../../components/OneLineNotes.astro";
import TaxonTable from "../../components/taxon-table/TaxonTable.astro";
import Title from "../../components/Title.astro";
import MainPage from "../../layouts/MainPage.astro";
import Page from "../../layouts/Page.astro";
import PageHeader from "../../layouts/PageHeader.astro";
import { getTaxonDataByMddIds } from "../../scripts/taxon_table";

export const getStaticPaths = async () => {
  const countryStats: Record<string, CountryData> = getCountryData();

  // We use the code as the URL parameter for consistency
  // and to simplify the URL structure.
  return Object.keys(countryStats).map((code) => ({
    params: { code },
  }));
};

const { code } = Astro.params;
const countryData: CountryData = getDataByCountryCode(code);

const speciesList = parseCountrySpeciesList(countryData);

const speciesIds = Object.keys(speciesList).map(Number);

const speciesData = getTaxonDataByMddIds(speciesIds);

const baseMsg = `The list excludes widespread and domesticated species.`;

const msg =
  countryData.totalExtinctSpecies > 0
    ? `${baseMsg} Extinct species are based on records in the past 500 years.`
    : baseMsg;
---

<Page title=`${countryData.name} Mammal Diversity Statistics`>
  <MainPage>
    <PageHeader>
      <Title slot="title">{countryData.name}</Title>
      <div slot="description">
        <p>
          The country's mammalian diversity consists of
          {countryData.totalLivingSpecies} living
          {
            countryData.totalExtinctSpecies > 0 && (
              <>and {countryData.totalExtinctSpecies} extinct</>
            )
          } species in {countryData.totalOrders} orders,
          {countryData.totalFamilies} families, and {countryData.totalGenera} genera.
        </p>
        <OneLineNotes msg={msg} />
      </div>
    </PageHeader><TaxonTable data={speciesData} /></MainPage
  >
</Page>
