---
// Page for displaying country-specific mammal diversity statistics
// When available, the URL parameter use alpha-2 country code (e.g., "US" for United States).
// Otherwise, it uses a three letter region code created from the region name (e.g., "AND" for Andaman Islands).
import {
  getCountryData,
  getDataByCountryCode,
  getCountryRegionName,
  parseCountrySpeciesList,
} from "../../../db/country_stats";
import type { CountryData } from "../../../db/country_stats_model";
import { getSpeciesDataByIds } from "../../../db/mdd";
import TaxonTable from "../../components/taxon-table/TaxonTable.astro";
import Title from "../../components/Title.astro";
import MainPage from "../../layouts/MainPage.astro";
import Page from "../../layouts/Page.astro";
import PageHeader from "../../layouts/PageHeader.astro";
import { getTaxonDataByMddIds } from "../../scripts/taxon_table";

export const getStaticPaths = async () => {
  const countryStats: Record<string, CountryData> = getCountryData();
  // Check for country code errors
  Object.entries(countryStats).forEach(([countryName, countryData]) => {
    if (!countryData.code) {
      console.error(
        `Country data for ${countryName} is missing a code. Please check the database.`
      );
    }
  });

  // Check for duplicate country codes
  const codes = new Set<string>();
  Object.entries(countryStats).forEach(([countryName, countryData]) => {
    if (codes.has(countryData.code)) {
      console.error(
        `Duplicate country code found for ${countryName}: ${countryData.code}. Please check the database.`
      );
    } else {
      codes.add(countryData.code);
    }
  });
  // Generate unique paths for codes
  return Array.from(codes).map((code) => ({
    params: { code },
  }));
};

const { code } = Astro.params;
const countryData: CountryData = getDataByCountryCode(code);
const countryName = getCountryRegionName(countryData.code);

const speciesList = parseCountrySpeciesList(countryData);

// Convert the keys of speciesList to an array of numbers
const speciesIds = Object.keys(speciesList).map(Number);

const speciesData = getTaxonDataByMddIds(speciesIds);
---

<Page title=`${countryName} Mammal Diversity Statistics`>
  <MainPage>
    <PageHeader>
      <Title slot="title">{countryName}</Title>
      <div slot="description">
        <p>
          Mammal diversity statistics for {countryName}, including counts of
          orders, families, genera, extant species, and extinct species. This
          list excludes widespread and domesticated species.
        </p>
      </div>
    </PageHeader>
    <TaxonTable data={speciesData} />
  </MainPage></Page
>
