---
import cntl from "cntl";
import { getMetadata } from "../../db/mdd";

const metadata = getMetadata();

const totalSpecies = metadata.speciesCount.toLocaleString();
const recentlyExtinct = metadata.recentlyExtinct.toLocaleString();
const living = metadata.living.toLocaleString();
const domestic = metadata.domestic.toLocaleString();
const livingWild = metadata.livingWild.toLocaleString();
const genera = metadata.genusCount.toLocaleString();
const families = metadata.familyCount.toLocaleString();
const orders = metadata.orderCount.toLocaleString();
const synonyms = metadata.synonymCount.toLocaleString();

const diversityTableContainer = cntl`
  overflow-x-auto
  max-w-4xl
  mx-auto
  bg-white/80
  dark:bg-spectra-900/80
  backdrop-blur-sm
  rounded-2xl
  shadow-sm
  border
  border-spectra-200/60
  dark:border-spectra-700/60
`;

const thClass = cntl`
  py-4
  px-6
  text-sm
  font-semibold
  text-spectra-700
  dark:text-spectra-300
  uppercase
  tracking-wider
  border-b
  border-spectra-200
  dark:border-spectra-700
`;

const tdClass = cntl`
  py-3
  px-6
  text-sm
  text-spectra-800
  dark:text-spectra-200
  border-b
  border-spectra-100
  dark:border-spectra-800/50
`;

const trHoverClass = cntl`
  hover:bg-spectra-50/80
  dark:hover:bg-spectra-800/40
  transition-colors
  duration-200
`;
---

<div id="diversity-table" class={diversityTableContainer}>
  <table class="w-full text-left border-collapse">
    <thead class="bg-spectra-100/50 dark:bg-spectra-800/30">
      <tr>
        <th class={`${thClass} rounded-tl-2xl`}>Taxa</th>
        <th class={thClass}>MSW3 2005</th>
        <th class={thClass}>MDD 2018</th>
        <th class={`${thClass} rounded-tr-2xl text-blue-600 dark:text-blue-400 font-bold`}>Current</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-spectra-100 dark:divide-spectra-800/50">
      <tr class="bg-spectra-50/30 dark:bg-spectra-800/10">
        <td colspan="4" class="py-2 px-6 text-xs font-semibold text-spectra-500 uppercase tracking-widest bg-spectra-50 dark:bg-spectra-900/50">Species</td>
      </tr>
      <tr class={trHoverClass}>
        <td class={`${tdClass} font-medium pl-10`}>Total</td>
        <td class={tdClass}>5,416</td>
        <td class={tdClass}>6,495</td>
        <td class={`${tdClass} font-bold text-blue-600 dark:text-blue-400`}>{totalSpecies}</td>
      </tr>
      <tr class={trHoverClass}>
        <td class={`${tdClass} font-medium pl-10`}>Recently Extinct</td>
        <td class={tdClass}>75</td>
        <td class={tdClass}>96</td>
        <td class={`${tdClass} font-bold text-blue-600 dark:text-blue-400`}>{recentlyExtinct}</td>
      </tr>
      <tr class={trHoverClass}>
        <td class={`${tdClass} font-medium pl-10`}>Living</td>
        <td class={tdClass}>5,341</td>
        <td class={tdClass}>6,399</td>
        <td class={`${tdClass} font-bold text-blue-600 dark:text-blue-400`}>{living}</td>
      </tr>
      <tr class={trHoverClass}>
        <td class={`${tdClass} font-medium pl-10`}>Domestic</td>
        <td class={tdClass}>0</td>
        <td class={tdClass}>16</td>
        <td class={`${tdClass} font-bold text-blue-600 dark:text-blue-400`}>{domestic}</td>
      </tr>
      <tr class={trHoverClass}>
        <td class={`${tdClass} font-medium pl-10`}>Living Wild</td>
        <td class={tdClass}>5,338</td>
        <td class={tdClass}>6,382</td>
        <td class={`${tdClass} font-bold text-blue-600 dark:text-blue-400`}>{livingWild}</td>
      </tr>
      <tr class="bg-spectra-50/30 dark:bg-spectra-800/10">
        <td colspan="4" class="py-2 px-6 text-xs font-semibold text-spectra-500 uppercase tracking-widest bg-spectra-50 dark:bg-spectra-900/50">Higher Taxa & Data</td>
      </tr>
      <tr class={trHoverClass}>
        <td class={`${tdClass} font-medium pl-6`}>Genera</td>
        <td class={tdClass}>1,230</td>
        <td class={tdClass}>1,314</td>
        <td class={`${tdClass} font-bold text-blue-600 dark:text-blue-400`}>{genera}</td>
      </tr>
      <tr class={trHoverClass}>
        <td class={`${tdClass} font-medium pl-6`}>Families</td>
        <td class={tdClass}>153</td>
        <td class={tdClass}>167</td>
        <td class={`${tdClass} font-bold text-blue-600 dark:text-blue-400`}>{families}</td>
      </tr>
      <tr class={trHoverClass}>
        <td class={`${tdClass} font-medium pl-6`}>Orders</td>
        <td class={tdClass}>29</td>
        <td class={tdClass}>27</td>
        <td class={`${tdClass} font-bold text-blue-600 dark:text-blue-400`}>{orders}</td>
      </tr>
      <tr class={trHoverClass}>
        <td class={`${tdClass} font-medium pl-6 border-none`}>Synonyms</td>
        <td class={`${tdClass} border-none`}>-</td>
        <td class={`${tdClass} border-none`}>-</td>
        <td class={`${tdClass} font-bold text-blue-600 dark:text-blue-400 border-none`}>{synonyms}</td>
      </tr>
    </tbody>
  </table>
</div>
