---
import { Image } from "astro:assets";
import desktopApp from "../assets/images/screenshots/desktopApp.png";
import GooglePlayBadge from "../assets/app-stores/GooglePlayBadge.svg";

import cntl from "cntl";
import Link from "./Link.astro";

const sectionTitleClass = cntl`
  font-serif
  text-3xl
  lg:text-4xl
  font-semibold
  mt-4
  mb-4
`;

const highlightedContainerClasses = cntl`
  py-4
  px-2
  text-center
  my-4
  max-w-4xl
  mx-auto
  bg-gradient-to-r
  dark:from-spectra-900
  dark:to-transparent
  from-spectra-100
  to-transparent
  rounded-xl
`;
---

<div class={highlightedContainerClasses}>
  <h2 class={sectionTitleClass}>Install the MDD App</h2>
  <div class="grid lg:flex grid-cols-1 md:grid-cols-2 justify-center py-2 px-4">
    <Image
      class="mx-auto"
      height="320"
      src={desktopApp}
      alt="MDD App"
      title="Click to learn more about the MDD App"
      loading="eager"
      fetchpriority="high"
    />
    <div class="text-left mt-4">
      <p class="text-lg font-semibold">App features:</p>
      <ul class="text-left ml-4 list-disc list-inside">
        <li>Cross-platform native support</li>
        <li>Offline access to the database</li>
        <li>Advanced search</li>
        <li>Custom exports</li>
        <li>And more</li>
      </ul>
      <a
        href="https://play.google.com/store/apps/details?id=com.hhandika.mdd"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image
          height="64"
          src={GooglePlayBadge}
          alt="Get it on Google Play"
          class="mt-6"
        />
      </a>
      <p class="mt-4">
        Follow <Link
          url="https://github.com/mammaldiversity/mdd_app?tab=readme-ov-file#install"
          label="installation guidelines"
          openInNewTab={true}
        /> to install the MDD App on other platforms.
      </p>
    </div>
  </div>
</div>
