---
import PageDivider from "./PageDivider.astro";
import TaxonData from "./TaxonData.astro";

interface SynonymsProps {
  originalNameCombination?: string;
  species: string;
  rootName: string;
  authoritySpeciesAuthor: string;
  authoritySpeciesYear: number;
  authorityParentheses: number;
  family: string;
  validityStatus?: string;
  nomenclaturalStatus?: string;
  type?: string;
  typeKind?: string;
  typeSpecimenLink?: string;
  authorityPage?: string;
  authorityPageLink?: string;
  authorityPublication?: string;
  nameUsages?: string;
}

const {
  originalNameCombination,
  species,
  rootName,
  authoritySpeciesAuthor,
  authoritySpeciesYear,
  authorityParentheses,
  family,
  validityStatus,
  nomenclaturalStatus,
  type,
  typeKind,
  typeSpecimenLink,
  authorityPage,
  authorityPageLink,
  authorityPublication,
  nameUsages,
} = Astro.props as SynonymsProps;

const synonymText = originalNameCombination
  ? originalNameCombination
  : `${species} ${rootName}`;
const authority = `${authoritySpeciesAuthor}, ${authoritySpeciesYear}`;
const authorityCitation =
  authorityParentheses === 1 ? `(${authority})` : authority;
---

<button id="modal-btn">
  <div
    class="w-fit rounded-full p-2 mr-4 border-2 hover:bg-spectra-50 dark:hover:bg-spectra-950 border-spectra-700 dark:border-spectra-300"
  >
    <p class="text-sm text-spectra-700 dark:text-spectra-300">
      <span class="italic">{synonymText}</span>
      {authorityCitation}
    </p>
  </div>
</button>

<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <div id="modal-header" class="text-center mb-2">
      <h1 class="text-xl md:text-2xl font-serif italic">
        {synonymText}
      </h1>
      <h2 class="text-lg">
        {authorityCitation}
      </h2>
    </div>
    <PageDivider />
    <div id="modal-content" class="max-h-96 overflow-y-auto">
      <TaxonData label="Family" content={family} isSynonym />
      <TaxonData label="Root name" content={rootName} isSynonym />
      <TaxonData label="Validity status" content={validityStatus} isSynonym />
      <TaxonData
        label="Nomenclatural status"
        content={nomenclaturalStatus}
        isSynonym
      />
      <TaxonData label="Type" content={type} isSynonym />
      <TaxonData label="Type kind" content={typeKind} isSynonym />
      <TaxonData
        label="Type specimen URI"
        content={typeSpecimenLink}
        isUrl
        isSynonym
      />
      <TaxonData label="Authority page" content={authorityPage} isSynonym />
      <TaxonData
        label="Authority page URI"
        content={authorityPageLink}
        isUrl
        isSynonym
      />
      <TaxonData
        label="Authority publication"
        content={authorityPublication}
        isSynonym
      />
      <TaxonData label="Name usages" content={nameUsages} isSynonym />
    </div>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

<script>
  const dialog = document.querySelector("#my_modal_5") as HTMLDialogElement;
  const modalBtn = document.querySelectorAll("#modal-btn");

  modalBtn.forEach((btn) => {
    btn.addEventListener("click", () => {
      if (dialog) {
        dialog.showModal();
      }
    });
  });
</script>
