---
import ActionButton from "../../components/buttons/ActionButton.astro";
import Title from "../../components/Title.astro";
import MainPage from "../../layouts/MainPage.astro";
import Page from "../../layouts/Page.astro";
import PageHeader from "../../layouts/PageHeader.astro";
import listImg from "../../assets/images/explore-cards/list.png";
import listImgDark from "../../assets/images/explore-cards/list-dark.png";
import tableImg from "../../assets/images/explore-cards/table.png";
import tableImgDark from "../../assets/images/explore-cards/table-dark.png";
import phyloImg from "../../assets/images/explore-cards/phylo.png";
import phyloImgDark from "../../assets/images/explore-cards/phylo-dark.png";
import ResponsiveCard from "../../components/ResponsiveCard.astro";
import {
  buildDiversityStatsByCountryName,
  getMappingCodeFromStats,
} from "../../scripts/diversity_map";
import { getWorldGeoJson } from "../../../db/country_data";
import CountryMap from "../../components/maps/CountryMap";
import cntl from "cntl";

const countryStats = buildDiversityStatsByCountryName();

const worldGeoJson = getWorldGeoJson();
const countryCodeMap = getMappingCodeFromStats(countryStats);

const mapClasses = cntl`
  w-full
  bg-gradient-to-l
  dark:from-spectra-800
  dark:to-spicy-mix-800
  from-spectra-100
  to-spicy-mix-100
  rounded-2xl
  p-8
`;
---

<Page title="Explore Database">
  <MainPage>
    <PageHeader>
      <Title slot="title">Explore MDD</Title>
      <div slot="description">
        <p class="text-xl mb-4">
          Multiple ways to explore the Mammal Diversity Database (MDD). View the
          data as a list ordered by taxonomic hierarchy, a table, or a
          phylogenetic tree. You can also explore mammalian diversity by country
          using an interactive map.
        </p>
      </div>
    </PageHeader>
    <div class="lg:max-w-7xl mx-auto mt-16">
      <div class="grid lg:flex grid-cols-1 md:grid-cols-2 justify-center gap-4">
        <ResponsiveCard
          title="Taxon List"
          description="Quickly browse all species and their synonyms."
          imageSrc={listImg}
          imageSrcDark={listImgDark}
          imageAlt="Taxon List"
          buttonLabel="Show List"
          buttonUri="/explore/taxon-list"
        />
        <ResponsiveCard
          title="Taxonomy Table"
          description="Explore taxonomy and compare counts across ranks."
          imageSrc={tableImg}
          imageSrcDark={tableImgDark}
          imageAlt="Taxonomy Table"
          buttonLabel="Explore Table"
          buttonUri="/explore/taxonomy-table"
        />
      </div>
      <div class="my-4 text-center">
        <div class={mapClasses}>
          <h2 class="text-3xl font-semibold mb-4">
            Mammal Diversity by Country and Region
          </h2>
          <p class="text-sm mb-2 max-w-4xl mx-auto">Tips:</p>
          <ul class="list-disc list-inside text-sm mb-4 max-w-4xl mx-auto">
            <li>
              Hover over or tap any country to view its name and number of
              species.
            </li>
            <li>Darker shading indicates higher species diversity.</li>
            <li>
              Click "Explore country data" to view detailed statistics and full
              species lists for each country.
            </li>
          </ul>

          <div class="mb-4 mx-auto">
            <CountryMap
              client:load
              stats={countryStats}
              world={worldGeoJson}
              isoCodeMap={countryCodeMap}
            />
          </div>
          <ActionButton label="Explore country data" uri="/country" />
        </div>
      </div>
      <div class="grid lg:flex grid-cols-1 md:grid-cols-2 justify-center gap-4">
      </div>
      <ResponsiveCard
        title="Tree View"
        description="Dive into an interactive phylogenetic tree of mammals."
        imageSrc={phyloImg}
        imageSrcDark={phyloImgDark}
        imageAlt="Phylogenetic Tree"
        buttonLabel="View Tree"
        buttonUri="/explore/tree"
      />
    </div>
  </MainPage>
</Page>
