---
import ActionButton from "../../components/buttons/ActionButton.astro";
import Title from "../../components/Title.astro";
import MainPage from "../../layouts/MainPage.astro";
import Page from "../../layouts/Page.astro";
import PageHeader from "../../layouts/PageHeader.astro";
import listImg from "../../assets/images/explore-cards/list.png";
import listImgDark from "../../assets/images/explore-cards/list-dark.png";
import tableImg from "../../assets/images/explore-cards/table.png";
import tableImgDark from "../../assets/images/explore-cards/table-dark.png";
import phyloImg from "../../assets/images/explore-cards/phylo.png";
import phyloImgDark from "../../assets/images/explore-cards/phylo-dark.png";
import ResponsiveCard from "../../components/ResponsiveCard.astro";
import { getCountryDiversityJson } from "../../scripts/diversity_map";
import cntl from "cntl";
const countryDiversityStringify = getCountryDiversityJson();

const cardClasses = cntl`
  w-full
  bg-gradient-to-l
  dark:from-spectra-800
  dark:to-spicy-mix-900
  from-spectra-100
  to-spicy-mix-100
  rounded-2xl
  p-8
`;
---

<Page title="Explore Database">
  <MainPage>
    <PageHeader>
      <Title slot="title">Explore MDD</Title>
      <div slot="description">
        <p class="text-xl mb-4">
          Multiple ways to explore the Mammal Diversity Database (MDD). View the
          data as a list ordered by taxonomic hierarchy, a table, or a
          phylogenetic tree. You can also explore mammalian diversity by country
          using the interactive map.
        </p>
      </div>
    </PageHeader>
    <div class="lg:max-w-7xl mx-auto mt-16">
      <div class="grid lg:flex grid-cols-1 md:grid-cols-2 justify-center gap-4">
        <ResponsiveCard
          title="Taxon List"
          description="Explore the taxonomy of species listed in the MDD, grouped by taxonomic order and sorted according to their phylogenetic hierarchy."
          imageSrc={listImg}
          imageSrcDark={listImgDark}
          imageAlt="Taxon List"
          buttonLabel="Explore List"
          buttonUri="/explore/taxon-list"
        />
        <ResponsiveCard
          title="Taxonomy Table"
          description="Explore current mammalian taxonomy in an expandable table format, including counts of orders, families, genera, and species."
          imageSrc={tableImg}
          imageSrcDark={tableImgDark}
          imageAlt="Taxonomy Table"
          buttonLabel="Explore Table"
          buttonUri="/explore/taxonomy-table"
        />
      </div>
      <div class="my-4 text-center">
        <div class={cardClasses}>
          <h2 class="text-3xl font-semibold mb-4">
            Mammal Diversity by Country and Region
          </h2>
          <p class="text-md mb-4 max-w-4xl mx-auto">
            The interactive map below offers an overview of mammal diversity by
            country. Hover over a country to view the species count. Click on a
            country to see its species list, or use the "Explore by Country"
            button for more detailed country-level mammalian diversity.
          </p>
          <div class="mb-4">
            <diversity-map data-stats={countryDiversityStringify}>
              <div id="stats-map"></div>
            </diversity-map>
          </div>
          <ActionButton label="Show country data" uri="/country" />
        </div>
      </div><div
        class="grid lg:flex grid-cols-1 md:grid-cols-2 justify-center gap-4"
      >
        <ResponsiveCard
          title="Tree View"
          description="Explore by taxonomic hierarchy in an interactive tree view."
          imageSrc={phyloImg}
          imageSrcDark={phyloImgDark}
          imageAlt="Phylogenetic Tree"
          buttonLabel="View Tree"
          buttonUri="/explore/tree"
        />
      </div>
    </div>
  </MainPage>
</Page>

<script
  is:inline
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  import { jsonToCountryDiversityMap } from "../../scripts/diversity_map";
  declare const google: any;

  class DistributionMap extends HTMLElement {
    connectedCallback() {
      const countryDiversity = this.dataset.stats;
      const countryStats = jsonToCountryDiversityMap(countryDiversity ?? "");

      google.charts.load("current", {
        packages: ["geochart"],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      async function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ["Country", "Species count"],
          ...Object.entries(countryStats).map(([country, count]) => [
            country,
            count,
          ]),
        ]);

        var options = {
          colorAxis: { colors: ["#FFEB00", "#117554"] },
        };

        var chart = new google.visualization.GeoChart(
          document.getElementById("stats-map")
        );

        // This click even allows users to navigate to the country page
        // Astro generate the page with the country code in the url
        // e.g. /country/US
        google.visualization.events.addListener(
          chart,
          "regionClick",
          function (e: any) {
            if (e.region) {
              window.location.href = `/country/${e.region}`;
            }
          }
        );

        chart.draw(data, options);
      }
    }
  }

  if (!customElements.get("diversity-map")) {
    customElements.define("diversity-map", DistributionMap);
  }
</script>
