---
import Image from "astro/components/Image.astro";
import ActionButton from "../../components/buttons/ActionButton.astro";
import Link from "../../components/Link.astro";
import Title from "../../components/Title.astro";
import MainPage from "../../layouts/MainPage.astro";
import Page from "../../layouts/Page.astro";
import PageHeader from "../../layouts/PageHeader.astro";
import listImg from "../../assets/images/explore-cards/list.jpg";
import tableImg from "../../assets/images/explore-cards/table.jpg";
import { getCountryDiversityJson } from "../../scripts/diversity_map";
import cntl from "cntl";

const countryDiversityStringify = getCountryDiversityJson();

const cardClasses = cntl`
  card
  card-bordered
  w-full
  border-2
  border-spectra-200
  dark:border-spectra-700
`;

const cardTextClasses = cntl`
  text-md
`;
---

<Page title="Explore Database">
  <MainPage>
    <PageHeader>
      <Title slot="title">Explore MDD</Title>
      <div slot="description">
        <p class="text-md mb-4">
          Discover the Mammal Diversity Database (MDD) through multiple
          interactive tools. Explore comprehensive taxonomic lists, detailed
          tables, and country-level diversity data. Use this page to navigate
          the rich taxonomy and species information curated by the MDD team.
        </p>
      </div>
    </PageHeader>
    <div class="lg:max-w-full mx-auto">
      <div
        class="grid lg:flex grid-cols-1 md:grid-cols-2 justify-center py-2 px-4 gap-4"
      >
        <div class={cardClasses}>
          <figure>
            <Image
              src={listImg}
              alt="Taxon List"
              width={600}
              height={400}
              class="w-full h-auto object-cover"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Taxon List</h2>
            <p class={cardTextClasses}>
              Explore the taxonomy of species listed in the MDD, grouped by
              taxonomic order and sorted according to their phylogenetic
              hierarchy.
            </p>
            <ActionButton label="Explore List" uri="/explore/taxon-list" />
          </div>
        </div>
        <div class={cardClasses}>
          <figure>
            <Image
              src={tableImg}
              alt="Taxonomy Table"
              width={600}
              height={400}
              class="w-full h-auto object-cover"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Taxonomy Table</h2>
            <p class={cardTextClasses}>
              Explore current mammalian taxonomy in an expandable table format,
              including counts of orders, families, genera, and species. This
              table is similar to the <Link
                url="http://www.classic.mammaldiversity.org/taxa.html"
                label="higher taxonomy table"
              /> in the MDD v1.
            </p>
            <ActionButton label="Explore Table" uri="/explore/taxonomy-table" />
          </div>
        </div>
      </div>
      <div class="mt-4 text-center">
        <div
          class="max-w-4xl mx-auto border-2 border-spectra-200 dark:border-spectra-700 p-8 rounded-2xl"
        >
          <h2 class="text-3xl font-semibold mb-4">
            Mammal Diversity by Country and Region
          </h2>
          <p class="text-sm mb-4 max-w-4xl mx-auto">
            The interactive map below offers an overview of mammal diversity by
            country. Hover over a country to view its name and species count.
            Click on a country to see its species list, or use the "Explore by
            Country" button for more detailed country-level mammalian diversity.
          </p>
          <div class="mb-4">
            <diversity-map data-stats={countryDiversityStringify}>
              <div id="stats-map"></div>
            </diversity-map>
          </div>
          <ActionButton label="Explore by Country" uri="/country" />
        </div>
      </div>
    </div>
  </MainPage>
</Page>

<script
  is:inline
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  import { jsonToCountryDiversityMap } from "../../scripts/diversity_map";
  declare const google: any;

  class DistributionMap extends HTMLElement {
    connectedCallback() {
      const countryDiversity = this.dataset.stats;
      const countryStats = jsonToCountryDiversityMap(countryDiversity ?? "");

      google.charts.load("current", {
        packages: ["geochart"],
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      async function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ["Country", "Species count"],
          ...Object.entries(countryStats).map(([country, count]) => [
            country,
            count,
          ]),
        ]);

        var options = {
          colorAxis: { colors: ["#FFEB00", "#117554"] },
        };

        var chart = new google.visualization.GeoChart(
          document.getElementById("stats-map")
        );

        // Add click event to redirect to /country/[code]
        google.visualization.events.addListener(
          chart,
          "regionClick",
          function (e: any) {
            if (e.region) {
              window.location.href = `/country/${e.region}`;
            }
          }
        );

        chart.draw(data, options);
      }
    }
  }

  if (!customElements.get("diversity-map")) {
    customElements.define("diversity-map", DistributionMap);
  }
</script>
